body {background-color: black;}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
header .header-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
}
header .hWrap {
    position: relative; 
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
header .header-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img {
    width: 25px;
}
header .hamburger {
    position: relative;
    width: 20px;
    height: 20px;
}
header .hamburger span {
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    background-color: white;
    cursor: pointer;
    transition: .5s;
}
header .hamburger span:nth-child(1) {top: 0;}
header .hamburger span:nth-child(2) {top: calc(50% - 2px);}
header .hamburger span:nth-child(3) {top: calc(100% - 4px);}
header nav {display: none;}
header .gnb {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
header .gnb li {
    padding: 5px 0;
    font-size: 12px;
}
header .util {
    display: none;
    justify-content: center;
}
header .util li {
    padding: 0 10px;
}
/* 헤더 마우스 오버 */
header li:hover {color: #ffc356;}
/* 헤더 제이쿼리 적용 */
header.mo-menu-on .header-bg {display: block;}
header.mo-menu-on .hWrap {background-color: black;}
header.mo-menu-on nav {display: block;}
header.mo-menu-on .util {display: flex;}
header.mo-menu-on .hamburger span:nth-child(1) {top: calc(50% - 2px);transform: rotate(45deg);}
header.mo-menu-on .hamburger span:nth-child(2) {opacity: 0;}
header.mo-menu-on .hamburger span:nth-child(3) {top: calc(50% - 2px);transform: rotate(-45deg);}
header.mo-bg-color {
    background-color: rgba(0,0,0,.3);
    backdrop-filter: blur(1px);
}
/* 모바일 메인 */
.main {
    width: 100%;
}
.main .mainWrap {
    width: 100%;
}
.main video {display: none;}
.main div[class^="main-item"] {
    position: relative;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-item1 {
    background-image: url('../images/main1_img2.webp');
}
.main-item2 {
    background-image: url('../images/main2_img.webp');
}
.main-item3 {
    background-image: url('../images/main3_img.webp');
}
.main .main-mo-box {
    position: absolute;
    bottom: 100px;
    left: 15px;
    color: white;
}
.main .main-mo-box h2 {
    font-size: 24px;
}
.main .main-mo-box p {
    width: 80%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main .main-mo-box a {
    font-size: 12px;
    border: 1px solid white;
    padding: 8px 24px;
}
.main .mainTextWrap {display: none;}
.main .mainWrap button {display: none !important;}

/* 카테고리 */
.category .cateWrap {
    padding-top: 100px;
    padding-bottom: 100px;
}
.category ul li {
    position: relative;
    width: 65%;
    height: 75px;
    line-height: 75px;
    color: white;
    margin-left: auto;
    border-radius: 10px 0 0 10px;
    padding-left: 30px;
    box-sizing: border-box;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height 1.2s;
    overflow: hidden;
}
.category .speaker {
    background-image: url('../images/main_menu1.webp');
    background-position: center;
}
.category .headphone {
    background-image: url('../images/main_menu2.webp');
    background-position: center;
}
.category .tv {
    background-image: url('../images/main_menu3.webp');
    background-position: center;
}
.category .soundbar {
    background-image: url('../images/main_menu4-2.webp');
    background-position: center;
}
.category ul li h2 {
    font-size: 18px;
}
.category .category-txt {
    display: none;
    width: 100%;
}
.category .category-txt p {font-size: 14px;}
.category .category-txt a {
    display: inline-block;
    font-size: 12px;
    padding: 8px 24px;
    border: 1px solid white;
    margin-top: 15px;
}

/* 카테고리 마우스 올린 후*/
.category ul li:hover {
    width: 90%;
    height: 250px;
    line-height: unset;
}
.category ul li:hover > div {
    position: absolute;
    bottom: 30px;
}
.category ul li:hover .category-txt {display: block;}

/* 뱅앤올룹슨의 역사 */
.history .historyTitWrap {
    margin-left: 15px;
    margin-bottom: 30px;
}
.history .historyTitWrap h2 {
    font-size: 16px;
    color: white;
}
.history .historyTitWrap p {
    font-size: 14px;
    color: white;
}
.history .history-cont-img {
    width: 100%;
    height: auto;
}
.history .history-cont-img img {
    width: 100%;
    object-fit: cover;
}
.history .history-cont-txt {
    margin-top: 20px;
    padding: 0 15px;
    color: white;
}
.history .history-cont-txt p {font-size: 12px;}
.history .history-cont-txt a {
    display: inline-block;
    font-size: 12px;
    padding: 8px 24px;
    border: 1px solid white;
    margin-top: 20px;
}

/* 베스트셀러 */
.best .bestWrap {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
}
.best .bestContWrap {
    margin-left: auto;
    width: 100%;
    padding-left: 15px;
}
.best .bestTitWrap {
    margin-left: 15px;
    margin-bottom: 30px;
}
.best .bestTitWrap h2 {
    color: white;
    font-size: 16px;
}
.best .bestTitWrap p {
    color: white;
    font-size: 14px;
}
.best .best-cont-item {
    margin: 0 5px;
}
.best .best-cont-item h4 {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
}
.best .best-cont-img {
    width: 200px;
    height: 200px;
    background-color: #d0d0d0;
}
.best .best-cont-img img {
    width: 100%;
    object-fit: cover;
}
.best .best-cont-item .best-title {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    color: white;
    font-size: 14px;
}
.best .price {
    color: white;
    font-size: 14px;
}

/* 한정판 광고 */
.ad {
    position: relative;
    width: 100%;
    height: 100px;
}
.ad video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ad .ad-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.ad .ad-title h2 {font-size: 20px;}
.ad .ad-title a {
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid white;
    font-size: 14px;
    margin-top: 10px;
}

/* 뱅앤올룹슨의 세계 */
.about {
    margin-top: 100px;
    margin-bottom: 100px;
}
.about .aboutWrap {
    margin: 0 15px;
}
.about .aboutTitWrap {
    color: white;
    padding-bottom: 30px;
}
.about .aboutTitWrap h2 {font-size: 16px;}
.about .aboutTitWrap p {font-size: 14px;}
.about .aboutContWrap {width: 100%;}
.about .about-cont-item {position: relative;}
.about .about-cont-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about .about-cont-txt {
    position: absolute;
    bottom: 5%;
    left: 3%;
    color: white;
}
.about .about-cont-txt span {
    font-family: 'Pretendard-Light.ttf';
    font-size: 12px;
}
.about .about-cont-txt h2 {font-size: 20px;}
.about .about-cont-txt p {display: none;}
.about .about-cont-txt a {
    display: inline-block;
    font-size: 12px;
    padding: 8px 24px;
    border: 1px solid white;
    margin-top: 10px;
}

/* 매장 찾기 */
.store {
    width: 100%;
    height: 120px;
    background: url('../images/store.webp') no-repeat center / cover;
    filter: grayscale(.9);
}
.store .storeWrap {
    margin: 0 15px;
    display: flex;
    align-items: end;
}
.store .storeTitWrap {margin-top: 30px;}
.store .storeTitWrap h2 {font-size: 16px;}
.store .storeTitWrap p {font-size: 14px;}
.store form {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 30px;
}
.store form input {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    padding: 0 30px 0 10px;
    box-sizing: border-box;
    border: 0;
    background-color: rgba(255,255,255,.8);
}
.store form .search {
    position: absolute;
    top: 0;
    right: 10%;
    width: 30px;
    height: 100%;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

/* 푸터 */
footer {width: 100%;}
footer .footer-menu {margin: 30px 0;}
footer .footer-menu-item {text-align: center;}
footer .footer-menu-item h2 {
    color: white;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 5px;
    cursor: pointer;
}
footer .footer-menu-item h2 i {transition: .5s;}
footer .footer-menu-item li {
    color: white;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer .copyright {
    font-size: 12px;
    color: #999999;
    text-align: center;
    border-top: 1px solid #999;
    padding-top: 10px;
    margin-bottom: 50px;
}
footer .copyright p {padding-bottom: 5px;}
/* 푸터 마우스 오버 */
footer li:hover {color: #ffc356;}
/* 푸터 메뉴 아코디언 */
footer .footer-menu-item ul {display: none;}
footer .footer-menu-item h2:hover,
footer .footer-menu-item h2.on {color: #ffc356;}
footer .footer-menu-item h2.on i {transform: rotate(-180deg);}