@media all and (min-width: 1201px) {
    header .hWrap {
        width: 1200px;
    }
    header .gnb li {
        font-size: 16px;
    }

    /* main */
    .main .mainWrap {
        width: 1200px;
    }
    .main video {height: 678px;}
    .main .mainTextWrap {
        left: 100px;
        width: 700px;
    }
    .main .mainTextWrap h2 {font-size: 86px;}
    .main .mainTextWrap p {
        font-size: 20px;
        margin-top: 10px;
        width: 550px;
    }
    .main .mainTextWrap a {
        font-size: 18px;
        padding: 8px 72px;
    }
    /* 카테고리 */
    .category ul li h2 {font-size: 48px;}
    .category .category-txt p {font-size: 18px;}
    .category .category-txt a {font-size: 16px;}

    /* 뱅앤올룹슨의 역사 */
    .history {padding-top: 400px;}
    .history .historyTitWrap {width: 1200px;}
    .history .historyTitWrap h2 {font-size: 48px;}
    .history .historyTitWrap p {font-size: 38px;}
    .history .history-cont-txt {
        width: 960px;
        padding-left: 60px;
    }
    .history .history-cont-txt p {
        font-size: 24px;
        width: 511px;
    }
    .history .history-cont-txt a {font-size: 18px;}

    /* 베스트 셀러 */
    .best {padding-top: 400px;}
    .best .bestWrap {padding-bottom: 400px;}
    .best .bestTitWrap {width: 1200px;}
    .best .bestTitWrap h2 {font-size: 48px;}
    .best .bestTitWrap p {font-size: 38px;}
    .best .bestContWrap {
        margin-left: auto;
        width: 1200px;
    }
    .best .best-cont-item h4 {font-size: 24px;}
    .best .best-cont-img {
        width: 384px;
        height: 384px;
    }
    .best .best-cont-item .best-title {font-size: 24px;}
    .best .price {font-size: 24px;}

    /* 한정판 광고 */
    .ad {height: 300px;}
    .ad .ad-title h2 {font-size: 48px;}
    .ad .ad-title a {font-size: 24px;}

    /* 뱅앤올룹슨의 세계 */
    .about {
        margin-top: 400px;
        margin-bottom: 400px;
    }
    .about .aboutWrap {width: 1200px;}
    .about .aboutTitWrap h2 {font-size: 48px;}
    .about .aboutTitWrap p {font-size: 38px;}
    .about .about-cont-txt span {font-size: 20px;}
    .about .about-cont-txt h2 {
        font-size: 38px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about .about-cont-txt p {
        display: block;
        font-size: 24px;
        margin-bottom: 40px;
    }
    .about .about-cont-txt a {font-size: 16px;}

    /* 매장 찾기 */
    .store {
        height: 300px;
    }
    .store .storeWrap {
        margin: 0 auto;
        width: 1200px;
    }
    .store .storeTitWrap h2 {font-size: 48px;}
    .store .storeTitWrap p {font-size: 38px;}
    .store form {height: 50px;}
    .store form input {
        font-size: 20px;
        padding: 0 50px 0 10px;
    }
    .store input::placeholder {font-size: 20px;}
    .store form .search {
        width: 50px;
        font-size: 24px;
    }

    /* 푸터 */
    footer .fWrap {width: 1200px;}
    footer .footer-menu-item h2 {margin-right: 80px;}

}