@media all and (min-width: 769px) {
    header {
        background-color: black;
    }
    header .header-bg, header.mo-menu-on .header-bg {display: none;}
    header .hWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 768px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    header .hamburger {display: none;}
    header nav {display: block;}
    header .gnb {
        display: flex;
        margin-top: 0;
        margin-bottom: 0;
    }
    header .gnb li {
        padding: 0 25px;
        font-size: 14px;
    }
    header .util {display: flex;}

    /* main */
    .main {
        position: relative;
        height: 100vh;
    }
    .main .mainWrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 768px;
    }
    .main video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main div[class^="main-item"] {
        position: relative;
        height: 444px;
        background-image: none;
    }
    .main .main-mo-box {display: none;}
    .main .mainTextWrap {
        display: block;
        position: absolute;
        width: 550px;
        top: 40%;
        left: 10%;
        color: white;
    }
    .main .mainTextWrap h2 {font-size: 64px;}
    .main .mainTextWrap p {
        font-size: 16px;
        margin-top: 10px;
        width: 450px;
    }
    .main .mainTextWrap a {
        display: inline-block;
        font-size: 14px;
        border: 1px solid white;
        padding: 8px 48px;
        margin-top: 30px;
    }
    /* main 슬라이드 버튼 */
    .main .mainWrap button {
        display: block !important;
        position: absolute;
        bottom: 0;
        border: 0;
        width: 25px;
        height: 25px;
        font-size: 0;
        background-color: white;
        opacity: .3;
        z-index: 99;
    }
    .main .mainWrap .slick-prev {right: 25px;}
    .main .mainWrap .slick-next {right: 0;}
    .main .mainWrap .slick-prev::before {
        content: '<';
        font-size: 20px;
    }
    .main .mainWrap .slick-next::before {
        content: '>';
        font-size: 20px;
    }

    /* 카테고리 */
    .category {
        width: 100%;
        height: 100vh;
    }
    .category .cateWrap {
        padding-top: 0;
        padding-bottom: 0;
    }
    .category ul {
        display: flex;
    }
    .category ul li {
        width: 100%;
        height: 100vh;
        margin-left: 0;
        padding-left: 0;
        border-radius: 0;
        text-align: center;
    }
    .category ul li::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        transition: .5s;
    }
    .category ul li h2 {
        font-size: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 30px;
        box-sizing: border-box;
        transition: padding-bottom .5s;
    }
    .category .category-txt {
        width: 25vw;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .category .category-txt p {font-size: 16px;}
    .category .category-txt a {font-size: 14px;}

    /* 마우스 올린 후 */
    .category ul li:hover {
        width: 100%;
        height: 100vh;
    }
    .category ul li:hover h2 {
        top: 0;
        padding-bottom: 50px;
    }
    .category ul li:hover:before {opacity: 0;}
    .category ul li:hover > div {top: 50%;}

    /* 뱅앤올룹슨의 역사 */
    .history {padding-top: 200px;}
    .history .historyTitWrap {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 768px;
    }
    .history .historyTitWrap h2 {font-size: 38px;}
    .history .historyTitWrap p {font-size: 24px;}
    .history .historyContWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .history .history-cont-txt {
        margin-top: 0;
        padding-left: 30px;
        width: 384px;
    }
    .history .history-cont-txt p {
        font-size: 16px;
        width: 300px;
    }
    .history .history-cont-txt a {font-size: 14px;}

    /* 베스트 셀러 */
    .best {padding-top: 200px;}
    .best .bestWrap {
        padding-top: 0;
        padding-bottom: 200px;
    }
    .best .bestTitWrap {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 768px;
    }
    .best .bestTitWrap h2 {font-size: 38px;}
    .best .bestTitWrap p {font-size: 24px;}
    .best .bestContWrap {
        margin-left: auto;
        width: 768px;
    }
    .best .best-cont-item h4 {font-size: 16px;}
    .best .best-cont-img {
        width: 290px;
        height: 290px;
    }
    .best .best-cont-item .best-title {font-size: 18px;}
    .best .price {font-size: 18px;}

    /* 한정판 광고 */
    .ad {height: 150px;}
    .ad .ad-title h2 {font-size: 32px;}
    .ad .ad-title a {font-size: 18px;}

    /* 뱅앤올룹슨의 세계 */
    .about {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .about .aboutWrap {
        margin: 0 auto 50px;
        width: 768px;
    }
    .about .aboutTitWrap h2 {font-size: 38px;}
    .about .aboutTitWrap p {font-size: 24px;}
    .about .about-cont-item {
        display: flex !important;
        justify-content: space-between;
    }
    .about .about-cont-img {
        width: 50%;
    }
    .about .about-cont-txt {
        position: static;
        width: 48%;
    }
    .about .about-cont-txt span {font-size: 16px;}
    .about .about-cont-txt h2 {
        font-size: 28px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .about .about-cont-txt p {
        display: block;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .about .about-cont-txt a {font-size: 14px;}

    /* 매장 찾기 */
    .store {
        height: 240px;
    }
    .store .storeWrap {
        margin: 0 auto;
        width: 768px;
    }
    .store .storeTitWrap h2 {font-size: 38px;}
    .store .storeTitWrap p {font-size: 24px;}
    .store form {height: 40px;}
    .store form input {
        font-size: 16px;
        padding: 0 45px 0 10px;
    }
    .store input::placeholder {font-size: 16px;}
    .store form .search {
        width: 45px;
        font-size: 18px;
    }
}   